@import "../../../pulpox_ads_nuevo/assets/scss/base/colors.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: lato;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

li {
	list-style: none;
}

h1 {
	font-size: xx-large;
	font-weight: 700;
	color: $color_dark;
}

$border_radius: 4px;

.btn-pulpox-primary {
	background-color: $color_cherry;
	color: white;
	-webkit-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);

	&:hover {
		color: white;
		background-color: $color_cherry-active;
	}

	&:active {
		color: white;
		background-color: $color_cherry--dark;
	}
}

.btn-pulpox-primary--line {
	border-color: $color_orange !important;
	color: $color_orange !important;
	-webkit-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
	-moz-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
	box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;

	&:hover {
		color: white;
		background-color: $color_cherry-active;
	}

	&:active {
		color: white;
		background-color: $color_cherry--dark;
	}
}

.btn-pulpox-secondary {
	background-color: $color_orange !important;
	color: white !important;
	-webkit-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);

	&:hover {
		color: white !important;
		background-color: $color_orange-active !important;
	}

	&:active {
		color: white !important;
		background-color: $color_orange-dark !important;
	}
}

.btn-pulpox-secondary--line {
	border-color: $color_orange !important;
	color: $color_orange !important;
	-webkit-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
	-moz-box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
	box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;

	&:hover {
		color: white !important;
		background-color: $color_orange-active !important;
	}

	&:active {
		color: white !important;
		background-color: $color_orange-dark !important;
	}
}

.btn-pulpox-primary-disabled {
	background-color: $color_cherry-disabled;
	color: white;
}

.pulpox-invalid-feedback {
	color: red;
	font-size: 0.75em;
	display: none;
}
