/*-------------------------------------
ICONS
--------------------------------------*/

.plpx-icon-hover {
	&:hover {
		cursor: pointer;
	}
}

.plpx-icon-1 {
	max-width: 1rem;
}

.plpx-icon-2 {
	max-width: 2rem;
}

.plpx-icon-3 {
	max-width: 3rem;
}

.plpx-icon-4 {
	max-width: 4rem;
}
