/*-------------------------------------
MARGIN
--------------------------------------*/
.plpx-m1 {
	margin: 1rem;
}

.plpx-m2 {
	margin: 2rem;
}

.plpx-m3 {
	margin: 3rem;
}

.plpx-m4 {
	margin: 4rem;
}

.plpx-m5 {
	margin: 5rem;
}
