/*-------------------------------------
PADDING
--------------------------------------*/
.plpx-p1 {
	padding: 1rem;
}

.plpx-p2 {
	padding: 2rem;
}

.plpx-p3 {
	padding: 3rem;
}

.plpx-p4 {
	padding: 4rem;
}

.plpx-p5 {
	padding: 5rem;
}
