$color_cherry: hsl(340, 100, 32%);
$color_cherry-disabled: hsl(340, 32%, 32%);
$color_cherry--dark: hsl(340, 100, 22%);

$color_red: hsl(0, 100, 32%);
$color_orange: hsl(30, 100, 32%);
$color_orange-dark: hsl(30, 100, 22%);
$color_yellow: hsl(60, 100, 32%);
$color_green: hsl(120, 100, 32%);
$color_blue: hsl(240, 100, 32%);
$color_purple: hsl(260, 100, 32%);
