/******************************* INICIO */

.datos_anuncio {
	color: $color_light_dark;
	font-size: smaller;
}

.link_anuncio {
	color: $color_info;

	&:hover {
		color: $color_info_dark;
	}
}

.modalidad_anuncio {
	color: $color_dark;
	font-size: smaller;
}

.pulpox-titulo-filtro {
	font-weight: bold;
	color: $color_info_dark;
}

tr:hover {
	background-color: #e6f4ff;

	a {
		color: #00508a !important;
	}

	.modalidad_anuncio {
		color: #00508a !important;
	}

	.datos_anuncio {
		color: #00508a !important;
	}
}
