@import "../../../pulpox_ads_nuevo/assets/scss/base/config.scss";

.datos_anuncio {
	color: $color_light_dark;
	font-size: smaller;
}

.link_anuncio {
	color: $color_info;

	&:hover {
		color: $color_info_dark;
	}
}

.modalidad_anuncio {
	color: $color_dark;
}

.pulpox-titulo-filtro {
	font-weight: bold;
}
