@import "../../../pulpox_ads_nuevo/assets/scss/base/config.scss";

.pulpox-table--thead {
	background-color: $color_cherry;
	color: white;
	border-radius: $border_radius;
}

.page-link {
	//Elemento MDB
	background-color: $color_orange;
	color: WHITE;
}

.page-link {
	//Elemento MDB
	background-color: $color_orange;
	color: WHITE;
}

.active {
	//Elemento MDB
	background-color: $color_cherry;
	color: WHITE;
}

.pulpox-table--titulo {
	color: black;
}

#mis-anuncios-table_length select {
	display: inline-block;
	width: 5em;
}

#mis-anuncios-table_filter input {
	display: inline-block;
	width: 15em;
}

#pulpox-icon--ver {
	&:hover {
		cursor: pointer;
	}
}

.div-contacto {
	display: none;
}
