*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: lato;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.btn-pulpox-primary {
  background-color: #a30036;
  color: white;
}

.btn-pulpox-secondary {
  background-color: #a35200;
  color: white;
}

.btn-pulpox-primary-disabled {
  background-color: #6c3749;
  color: white;
}

.pulpox-invalid-feedback {
  color: red;
  font-size: 0.75em;
  display: none;
}

/* ANUNCIO PREVIEW*/
.icon-label {
  display: inline-block;
  vertical-align: text-top;
}

#titulo_preview {
  word-break: break-all;
  word-wrap: break-word;
}

.icon-label {
  vertical-align: baseline;
}

.anuncio-nuevo-preview_icon {
  height: 1.5em;
  display: inline-block;
}

#anuncio_preview {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0.5em;
}

.carousel-inner {
  max-height: 20em;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50%;
}

.carousel-inner {
  padding: 1em;
  max-width: 40em;
}

#div_telefono_preview,
#div_celular_preview,
#div_correo_preview {
  display: none;
}