.main-menu {
  background-color: #a30036;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.62);
}

.main-menu a {
  color: white;
}

.navbar-pulpox .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#main-menu-toggler {
  text-align: right;
}

.nav-item {
  margin: 0.25em;
  padding: 0.25em;
}
.nav-item:hover {
  background-color: #f00050;
}
.nav-item:hover .nav-link {
  color: white;
}
.nav-item:active {
  background-color: #a30036;
}

#boton-cuenta {
  background-color: #f03a0c;
  border: 0;
}

#dropdown_menu {
  float: right;
}
#dropdown_menu .dropdown-menu {
  background-color: #8a2107;
  padding: 0;
  left: -4.5em;
  margin-top: 0.25em;
}
#dropdown_menu .dropdown-item:hover {
  background-color: #f03a0c;
  color: white;
}

.btn-pulpox-login {
  color: white;
  cursor: pointer;
}
.btn-pulpox-login:hover {
  color: white;
  background-color: #f03a0c;
}
.btn-pulpox-login:active {
  color: white;
}

.btn-pulpox-singup {
  color: #a30036;
  background-color: white;
  cursor: pointer;
}

#btn-pulpox-singup {
  color: #a30036;
}
#btn-pulpox-singup:hover {
  color: white;
  background-color: #f03a0c;
}
#btn-pulpox-singup:active {
  color: white;
}