/*  #A30036 */
/* #E67300 */
/*$color_orange: hsl(39, 100, 32%); */
/* #a35200 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: lato;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  color: #58585a;
}

.btn-pulpox-primary {
  background-color: #a30036;
  color: white;
  box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
}
.btn-pulpox-primary:hover {
  color: white;
  background-color: #8f0030;
}
.btn-pulpox-primary:active {
  color: white;
  background-color: #750027;
}

.btn-pulpox-primary--line {
  border-color: #e67300 !important;
  color: #e67300 !important;
  box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
}
.btn-pulpox-primary--line:hover {
  color: white;
  background-color: #8f0030;
}
.btn-pulpox-primary--line:active {
  color: white;
  background-color: #750027;
}

.btn-pulpox-secondary {
  background-color: #e67300 !important;
  color: white !important;
  box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62);
}
.btn-pulpox-secondary:hover {
  color: white !important;
  background-color: #cc6600 !important;
}
.btn-pulpox-secondary:active {
  color: white !important;
  background-color: #b35900 !important;
}

.btn-pulpox-secondary--line {
  border-color: #e67300 !important;
  color: #e67300 !important;
  box-shadow: 0px 10px 7px -7px rgba(0, 0, 0, 0.62) !important;
}
.btn-pulpox-secondary--line:hover {
  color: white !important;
  background-color: #cc6600 !important;
}
.btn-pulpox-secondary--line:active {
  color: white !important;
  background-color: #b35900 !important;
}

.btn-pulpox-primary-disabled {
  background-color: #562938;
  color: white;
}

.pulpox-invalid-feedback {
  color: red;
  font-size: 0.75em;
  display: none;
}

.pulpox-table--thead {
  background-color: #a30036;
  color: white;
  border-radius: 4px;
}

.page-link {
  background-color: #e67300;
  color: WHITE;
}

.page-link {
  background-color: #e67300;
  color: WHITE;
}

.active {
  background-color: #a30036;
  color: WHITE;
}

.pulpox-table--titulo {
  color: black;
}

#mis-anuncios-table_length select {
  display: inline-block;
  width: 5em;
}

#mis-anuncios-table_filter input {
  display: inline-block;
  width: 15em;
}

#pulpox-icon--ver:hover {
  cursor: pointer;
}